body {
  background-image: url("http://66.media.tumblr.com/2fd79c4baa4a9f7643d0baa48b73f33d/tumblr_movdbcThVO1ru3nbdo6_100.png");
  background-repeat: repeat;
}

@font-face { font-family: Codystar; src: url('../Fonts/Codystar/Codystar-Regular.ttf');}
@font-face { font-family: Raleway; src: url('../Fonts/Raleway/Raleway-Regular.ttf');}
@font-face { font-family: Raleway_Bold; src: url('../Fonts/Raleway/Raleway-SemiBold.ttf');}
@font-face { font-family: Raleway_Blk; src: url('../Fonts/Raleway/Raleway-ExtraBoldItalic.ttf');}

h1 {
  text-align: center;
  margin-top: 5px;
  font-family: Codystar;
  font-size: 25px;
}

h2 {
  text-align: center;
  margin-top: 5px;
  font-family: Raleway_Blk;
  font-size: 25px;
}

p {
  font-family: Raleway;
  font-size: 12px;
  margin: 0px;
}

b {
  font-family: Raleway_Bold
}

img {
  user-drag: none; /*make image not draggable*/
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*header image*/
#header {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*navigation bar*/
.nav {
  background-color: #FFF6CC;
}

.nav-item {
  transition: background-color .5s;
}

.nav-item:hover {
  background-color: #FFF0AA;
}

.nav-link {
  font-size: 12px;
  color: black;
}

.nav-link:hover {
  font-size: 12px;
  color: black;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

/*side boxes*/
.sides {
  width: 200px;
  height: auto;
  background-color: #FFF;
  padding: 15px;
  margin: 10px;
  border: 7px solid #E5E5E5;
  border-radius: 2px;
  position: fixed;
  bottom: 10px;
}

#left {
  left: 10px;
}

#right {
  right: 10px;
}

#user {
  max-width: 100px;
  max-height: 100px;
  border-radius: 100%;
}

/*blog posts*/
.posts {
  width: 500px;
  height: auto;
  background-color: white;
  border: 1.5px solid #E0E0E0;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  margin-bottom: 30px;
  text-align: left;
}

.card-footer {
  background-color: white;
  padding: 5px;
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
}

.photo { /*photo posts*/
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content { /*image*/
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
}

/* width less than ___ px;*/
@media screen and (max-width: 975px) {
  .sides {
    position: relative;
    width: 500px;
  }
  #left {
    left: auto;
    margin: auto;
    border: 3px solid #E5E5E5;
  }
  #right {
    right: auto;
    margin: auto;
    margin-top: -3px;
    border: 3px solid #E5E5E5;
  }
}

@media screen and (max-width: 550px) {
  html {
    -webkit-text-size-adjust: none;
  }
  .posts {
    width: 350px;
  }
  .sides{
    width: 350px;
  }
}
