html, body {
  background-image: url('http://static.tumblr.com/a0dmjhi/9dQnnpz7c/tiny_grid.png');
}

@font-face { font-family: Raleway Bold; src: url('../Fonts/Raleway/Raleway-Bold.ttf');}
@font-face { font-family: Raleway; src: url('../Fonts/Raleway/Raleway-Regular.ttf');}
@font-face {font-family: Alegreya Reg; src: url('../Fonts/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf');}
@font-face {font-family: Alegreya Thin; src: url('../Fonts/Alegreya_Sans_SC/AlegreyaSansSC-Thin.ttf');}

header {
  background-color: #383737;
  height: 200px;
}

h1 {
  font-family: Raleway Bold;
  font-size: 50px;
  text-align: left;
  color: #2ED3DB;
  padding: 70px 10px;
  padding-bottom: 0;
}

h2 {
  font-family: Alegreya Reg;
  font-size: 15px;
  color: #83E9EE;
  padding: 0px;
  margin: 0px;
}

h3 {
  color: #08C7D0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

button {
  font-family: Alegreya Thin;
  border: none;
  text-decoration: none;
  margin: 0;
}

/* HEADER */
#hd {
  width: 650px;
}

#ttl {
  float: left;
}

#desc {
  margin-top: 100px;
  margin-right: 100px;
  color: white;
  float: right;
}

/* SIDE BOXES */
#left {
  width: 200px;
  height: auto;
  margin: 30px;
  padding: 30px;
  float: left;
}

.tagbox {
  background-color: white;
  width: 210px;
  height: auto;
  margin-bottom: 30px;
}

.taghead {
  background-color: #383737;
  text-align: center;
  padding: 13px;
}

.tagbody{
  background-color: #E8E8E8;
  padding: 20px 30px;
}

.tags {
  width: 100%;
  font-size: 12px;
  background-color: white;
  color: black;
  padding: 5px;
  margin: 0;
  transition: background-color .5s;
}

.tags:hover {
  background: #019FA6;
}

/*FILTER BOXES*/
#right {
  width: 950px;
  height: auto;
  margin: 20px 30px;
  padding: 20px;
  float: right;
}

.card {
  background-color: white;
  width: 250px;
  height: auto;
  border-radius: 0;
  padding: 15px;
  margin: 10px;
}

/*RESIZING*/
@media screen and (max-width: 1280px) {
  #right {
    width: 850px;
  }
}

@media screen and (max-width: 1180px) {
  #main {
    width: 90%;
  }
  #right {
    width: 580px;
  }
}

@media screen and (max-width: 1000px) {
  #right {
    width: 300px;
  }
}

@media screen and (max-width: 690px) {
  #hd {
    width: 100%;
    height: auto;
  }
  #ttl {
    float: none;
  }
  #desc {
    text-align: right;
    float: none;
    margin: 0 10%;
  }

  #main {
    width: 100%;
  }
  #left {
    float: none;
    padding: 30px 0;
    margin: auto;
  }
  #right {
    width: 580px;
    float: none;
    margin: auto;
  }
}

@media screen and (max-width: 570px) {
  #right {
    width: 300px;
  }
}
