@font-face {
  font-family: Staatliches;
  src: url('Fonts/Staatliches/Staatliches-Regular.ttf');
}

html {
  margin: 0;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-family: "Allerta Stencil";
  font-size: 60px;
  margin-bottom: 0;
}

h2 {
  font-family: Staatliches;
  font-size: 30px;
  margin: 0;
}

p {
  font-family: "Arial";
}

img {
  user-drag: none;
  /*make image not draggable*/
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

footer {
  clear: both;
  position: relative;
  height: auto;
  padding: 15px;
  font-family: "Trebuchet MS";
  text-align: center;
}

.pagebox {
  width: 300px;
  height: 425px;
  margin-bottom: 25px;
  padding: 25px;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  transition: color 1s;
}

.pagebox:hover {
  background-color: #FBFBFB;
  border: 1px solid black;
}

.demo {
  /*page image*/
  width: 90%;
  height: auto;
}

.text {
  /*page text*/
  height: auto;
  text-align: left;
  margin: 20px;
}

.palette {
  width: auto;
  height: 30px;
}

.icons {
  font-size: 25px;
  margin: 5px;
  color: black;
  transition: color .5s;
}

.icons:hover {
  color: pink;
}

#backdrop {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#logo_box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  width: 100%;
  height: auto;
}

#arrow {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: pink;
}

#grid {
  align-items: center;
  margin: 0 5%;
  padding: 0 5%;
  column-count: 3;
}

#up {
  position: fixed;
  top: 95%;
  left: 95%;
  font-size: 40px;
  color: black;
}

/* width less than ___ px;*/
@media screen and (max-width: 1150px) {
  #grid {
    column-count: 2;
  }
}

@media screen and (max-width: 900px) {
  #grid {
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  #logo_box {
    width: 100%;
    height: auto;
  }

  #grid {
    column-count: 1;
  }

  #up {
    left: 90%;
  }
}

@media screen and (max-width: 525px) {
  html {
    -webkit-text-size-adjust: none;
  }
}