<html>
  <head>
    <link rel="stylesheet" href="/static/Postcard/postcard.css" type="text/css">

    <title>Postcard</title>

  </head>

  <body>
    <div style="position:absolute;top:3%;left:25%;">
      <h1>M A I L</h1>
    </div>

    <img class="cloud" style="top:70%;left:10%;" src="../static/Postcard/cloud.png" alt="cloud">
    <img class="cloud" style="top:85%;" src="../static/Postcard/cloud.png" alt="cloud">
    <img class="cloud" style="top:10%;left:90%;" src="../static/Postcard/cloud.png" alt="cloud">
    <img class="cloud" style="top:20%;left:75%;" src="../static/Postcard/cloud.png" alt="cloud">

    <div id="main">
      <div id="address">
        <img id="pic" src="../static/Postcard/icon.png" alt="icon">
      <!-- add more buttons
        <button class="links" onclick="window.location.href='LINK HERE'">LINK TITLE</button>
      -->
        <button class="links" onclick="window.location.href='/'">Return</button>
        <button class="links" onclick="window.location.href='https://google.com'">Google</button>
        <button class="links" onclick="window.location.href='/postcard'">link three</button>
        <button class="links" onclick="window.location.href='/postcard'">link four</button>

      </div>

      <div id="header">
        <h2> “Take only memories, leave only footprints.” – Chief Seattle.</h2>
      </div>

      <div id="text">
        <p>A postcard themed page for all your travel needs. Send some mail to
          your loved ones!</p>
        <br></br>
        <p>Features:</p>
        <p>- address (4 links, more can be added)</p>
        <p>- stamp (change the icon!)</p>
        <p>- long messages accepted (scroll will automatically appear)</p>
      </div>
    </div>
  </body>

</html>
