html {
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  background: radial-gradient(farthest-corner at top right,
    #3E476B,
    #262F51 20%,
    #030717 60%);
}

@font-face { font-family: Codystar; src: url('../Fonts/Codystar/Codystar-Regular.ttf');}

h1 {
  color: white;
  font-family: Codystar;
}

p {
  color: #FFFDE6;
}

li {
  list-style-type: circle;
  color: #FFFDE6;
}

img {
  user-drag: none; /*make image not draggable*/
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#hill {
  position: absolute;
  top: 80%;
  left: -50%;
  width: 200%;
  height: 100%;
  background: #00120E;
  border-radius: 100%;
}

#telescope {
  position: absolute;
  top: 75%;
  left: 30%;
  width: 10%;
  height: auto;
}

/*tooltips*/
#moon {
  position: absolute;
  top: 5%;
  left: 85%;
  width: 10%;
  height: auto;
}

.stars {
  position: absolute;
  width: 3%;
  height: auto;
}

.image {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

.image + .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;   /* Position the tooltip */
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -50%;
  opacity: 0;
  transition: opacity 0.5s;
}

.image:hover + .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* modal box */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 3%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: block; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.content {
  background-image: url("starmap.png");
  background-size: cover;
  background-position: center center;
  margin: auto;
  padding: 30px;
  width: 675px;
  height: 675px;
  text-align: center;
  overflow: block;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  position: absolute;
  top: 11%;
  left: 75.5%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
